@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

/* RESET */
body{
    margin:0;
    padding:0;
    font-family:"Google Sans", sans-serif;
}

/* HEADER */

.header_container{
    display:flex;
    justify-content:space-between;
    align-items:center; 
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    padding:10px;
    border-bottom: 1px solid;
}
.header_container img{
    padding: 0px;
    margin: 0px;
}

#buttonBack{
    text-decoration:none;
    font-size:20pt;
    padding:10px;
    color:black;
}

/* MENU */

.menu-area{
    position:relative;
}

#buttonMenu{
    border:none;
    background:whitesmoke;
    font-size:20px;
    cursor:pointer;
    padding:8px 12px;
}

#menuDropdown{

    position: fixed;

    top: 60px;
    right: 20px;

    z-index: 9999;

    background: white;

    border-radius:6px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);

    list-style:none;
    padding:0;
    margin:0;

    width:180px;

    display:none;
}

#menuDropdown li a{
    display:block;
    padding:12px;
    text-decoration:none;
    color:black;
}

#menuDropdown li a:hover{
    background:#f0f0f0;
}

#menuDropdown.ativo{
    display:block;
}
.elemento.aaaa{
    border: 1px solid #000000;
    padding: 0px;
    margin: 0px;
}

/* TABELA PERIÓDICA */

.table-periodic{
    display:grid;
    grid-template-columns: repeat(18, minmax(40px, 1fr));
    gap:4px;
    padding:20px;
    overflow-x:auto;
}
.table-periodic a{
    text-decoration: none;
    color: black;
}

/* ELEMENTO */

.elemento{
    position:relative;
    width:100%;
    aspect-ratio: 4/5;
    border-radius:8px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* número */
.numero{
    position:absolute;
    top:5px;
    left:8px;
    font-size:12px;
}

/* símbolo */
.simbolo{
    font-size:28px;
    font-weight:bold;
}
.simbolo:hover{
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0.705);
    transition: 0.1s;
}

/* nome */
.nome{
    font-size:12px;
    margin-top:5px;
}

/* sessão de informações dos elementos */
.info-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    display: none;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: white;
    padding: 20px;
    margin: 15% auto;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.fechar {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.metais_alcalinos { background: #008080; }

.metais_alcalinos_terrosos { background: #00FFFF; }

.metais_de_transicao { background: #6A5ACD; }

.metais_pos_transicao { background: #7FFFD4; }

.semi_metais { background: #B0E0E6; }

.nao_metais_poliatomicos { background: #87CEFA; }

.nao_metais_diatomicos { background: #5F9EA0; }

.gases_nobres { background: #BA55D3; }

.desconhecidos { background: #4B0082; }

.lantanideos { background: #ff00a2; }

.actinideos { background: #ad0b618f; }

@media (max-width: 768px){

    .table-periodic{
        padding:10px;
        gap:2px;
    }

    .elemento{
        font-size:10px;
    }

    .simbolo{
        font-size:16px;
    }

    .nome{
        display:none; /* esconde nome no celular */
    }

    .numero{
        font-size:8px;
    }

}