@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

body{
margin:0;
padding:0;
font-family:"Google Sans", sans-serif;
max-width:1200px;
}

.header_container{
display:flex;
justify-content:space-between;
align-items:center;

margin:auto;
padding:10px;
}

#buttonMenu{
border:none;
background:whitesmoke;
font-size:20px;
cursor:pointer;
padding:8px 12px;
}

#buttonBack{
text-decoration:none;
font-size:20pt;
padding:10px;
color:black;
}

#buttonBack:hover{
background:rgba(0,0,0,0.05);
border-radius:3px;
}

/* MENU OVERLAY */
.menu-area{
    position: relative;
}

#buttonMenu{
    border:none;
    background:whitesmoke;
    font-size:20px;
    cursor:pointer;
    padding:8px 12px;
}

/* menu escondido */

#menuDropdown{

    position:absolute;
    right:0;
    top:40px;

    background:white;

    border-radius:6px;

    box-shadow:0 4px 10px rgba(0,0,0,0.15);

    list-style:none;

    padding:0;
    margin:0;

    width:180px;

    display:none;

}

#menuDropdown li a{

    display:block;
    padding:12px;

    text-decoration:none;

    color:black;
}

#menuDropdown li a:hover{
    background:#f0f0f0;
}

/* quando abrir */

#menuDropdown.ativo{
    display:block;
}
.table-periodic{
    display: flex;
    padding: 50px;
}
.elements{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 2.5px;
}